.container {
  width: 100wh;
  height: 100vh;
  min-height: 200px;
  background: rgb(248, 249, 250);
}

.githubLink {
  display: inline-block;
  width: 70px;
  border: 1px solid black;
  border-radius: 3px;
}

.githubLogo {
  margin: 0;
  max-width: 60px;
}

.row {
  min-height: 88vh;
}